html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    font-size: 13px;
    background: #fff;
    width: 300px;
}

ul {
    margin: 2px 0;
    padding: 0;
    min-height: 33px;
}

ul:empty:before {
    content: "No data";
    color: #777;
    display: flex;
    height: 33px;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
}

a {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color .3s linear;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: #333;
}

a:hover {
    background-color: #e6f5ff;
}

a img {
    width: 16px;
    display: inline-block;
    margin-right: 8px;
}

a span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}