html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    font-size: 13px;
    background: #fff;
    min-width: 170px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    display: block;
}

a span {
    width: 18px;
    height: 18px;
    display: inline-block;
}

a span img {
    width: 100%;
    height: 100%;
}
